<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p><strong>method:</strong> <span th:text="${form.method}"></span></p>
<p><strong>a:</strong> <span th:text="${form.a}"></span></p>
<p><strong>b:</strong> <span th:text="${form.b}"></span></p>
<p><strong>e:</strong> <span th:text="${form.e}"></span></p>

<span th:if="${form.method != 1 && form.method != 3 && form.method != 5}">
    Были введены неверные данные либо не был указан метод решения уравнений!
    <p></p>
    Вернитесь и введите всё корректно.
    <p></p>
    <a href="/lineSegment"> Назад </a>
</span>
<table border="1">
    <thead>
    <tr>
        <th>count</th>
        <th>x</th>
        <th>fx</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="tableMethod1: ${dataOut}">
        <td th:text="${tableMethod1.count}"/>
        <td th:text="${tableMethod1.x}"/>
        &nbsp;
        <td th:text="${tableMethod1.fx}"/>
    </tr>
    </tbody>
</table>
<div class="Chart">
<!--    <img src="../../res/Chart.jpeg" width="1000" th:src="@{Chart.jpeg}"/>-->
    <img src="/reports" width="1000" th:src="@{/reports}"/>
</div>
<!--</span>-->
</body>
</html>