<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p><strong>number:</strong> <span th:text="${systemsForm.numberOfSystem}"></span></p>
<p><strong>x0:</strong> <span th:text="${systemsForm.x0}"></span></p>
<p><strong>y0:</strong> <span th:text="${systemsForm.y0}"></span></p>
<p><strong>e:</strong> <span th:text="${systemsForm.e}"></span></p>
<span th:if="${systemsForm.getNumberOfSystem() != 1 && systemsForm.getNumberOfSystem() != 2 }">
    Были введены неверные данные либо не был указан метод решения уравнений!
    <p></p>
    Вернитесь и введите всё корректно.
    <p></p>
    <a href="/Systems"> Назад </a>
</span>
<span th:if="${not #lists.isEmpty(formSystems)}">
<table border="1">
    <thead>
    <tr>
        <th>count</th>
        <th>x</th>
        <th>y</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="tableMethod1: ${formSystems}">
        <td th:text="${tableMethod1.count}"/>
        <td th:text="${tableMethod1.x}"/>
        &nbsp;
        <td th:text="${tableMethod1.fx}"/>
    </tr>
    </tbody>
</table>
<img src="/chartSystem" width="1000" th:src="@{/chartSystem}"/>
</span>
</body>
</html>