<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#" th:action="@{/formSystem}" th:object="${systemsForm}" th:method="GET">
    Выбор уравнения:
    <div>
        <label>1:</label>
        <input type="radio" th:field="*{numberOfSystem}" name="method1" value="1"/>
        <img src="../static/СистемаУравнений1.1.png" width="167" th:src="@{СистемаУравнений1.1.png}"/>
    </div>
    <div>

        <label>2:</label>
        <input type="radio" th:field="*{numberOfSystem}" name="method3" value="2"/>
        <img src="../static/Система2.jpg" width="167" th:src="@{Система2.jpg}"/>
        <p></p>
    </div>
    <div>
        <label>x0:</label>
        <input type="number" th:field="*{x0}" required step="any"/>
        <p></p>
    </div>
    <div>
        <label>y0:</label>
        <input type="number" th:field="*{y0}" required step="any"/>
        <p></p>
    </div>
    <div>
        <label>e:</label>
        <input type="number" th:field="*{e}" required step="any"/>
        <p></p>
    </div>
    <input type="submit" value="Submit"/>
</form>
</body>
</html>